@import "tailwindcss";
@plugin "daisyui" {
  /* themes: cupcacke --default, forest --prefersdark; */
  themes: all;
  logs: false;
}
@config "../../tailwind.config.js";

@layer base {
  :root {
    --chart-1:var(--color-accent);
    --chart-2:var(--color-info);
    --chart-3:var(--color-succent);
    --sidebar-background:var(--color-base-100);
    --sidebar-foreground:var(--color-base-content);
    --sidebar-primary:var(--color-primary);
    --sidebar-primary-foreground:var(--color-primary-content);
    --sidebar-accent:var(--color-accent);
    --sidebar-accent-foreground:var(--color-accent-content);
    --sidebar-border:var(--color-base-content);
    --sidebar-ring: var(--color-neutral);
  }
  .dark {
    --chart-1:var(--color-accent);
    --chart-2:var(--color-info);
    --chart-3:var(--color-succent);
    --sidebar-background:var(--color-base-100);
    --sidebar-foreground:var(--color-base-content);
    --sidebar-primary:var(--color-primary);
    --sidebar-primary-foreground:var(--color-primary-content);
    --sidebar-accent:var(--color-accent);
    --sidebar-accent-foreground:var(--color-accent-content);
    --sidebar-border:var(--color-base-content);
    --sidebar-ring: var(--color-neutral);
  }

}
